@using CollegeManagement.Models.DataModel;
@model IEnumerable<CollegeManagement.Models.DataModel.Teacher>

@{

    Layout = "~/Views/Shared/_TeacherLayout.cshtml";

    ViewBag.Title = "Teacher";


}
@{
    var data = (Teacher)ViewData["student"];
}
<div>
    <input asp-for="@data.Id" hidden />

    <input asp-for="@data.UserId" hidden />
    <table class="table">
        <thead>
            <tr>
                <th>

                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)

                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)

                </th>

            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => @data.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @data.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @data.Address1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @data.Address2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @data.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @data.State)
                </td>

                @*<td>
                        <a asp-action="Edit" class="bg-success" asp-controller="Student" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" class="bg-danger" asp-controller="Student" asp-route-id="@item.Id">Delete</a>
                    </td>*@
            </tr>

        </tbody>
    </table>
</div>
